<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193045943258-lme4imnhn97urcgfnfsovh2uic9c165n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193045943258-lme4imnhn97urcgfnfsovh2uic9c165n</string>
	<key>API_KEY</key>
	<string>AIzaSyDf7KgyKj5ulrjgQogguOQ6GaU9gDvUJr8</string>
	<key>GCM_SENDER_ID</key>
	<string>193045943258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.equip.equip</string>
	<key>PROJECT_ID</key>
	<string>messagecenter-85eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>messagecenter-85eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193045943258:ios:1846cf58a66758e36c66e3</string>
	<key>DATABASE_URL</key>
	<string>https://messagecenter-85eb5-default-rtdb.firebaseio.com</string>
</dict>
</plist>